          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
<script type="text/javascript">
  //	window.addEventListener("resize", function() {
  //		"use strict"; window.location.reload();
  //	});
  
  
      document.addEventListener("DOMContentLoaded", function(){
  
  
          /////// Prevent closing from click inside dropdown
          document.querySelectorAll('.dropdown-menu').forEach(function(element){
              element.addEventListener('click', function (e) {
                e.stopPropagation();
              });
          })
  
  
  
          // make it as accordion for smaller screens
          if (window.innerWidth < 992) {
  
              // close all inner dropdowns when parent is closed
              document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
                  everydropdown.addEventListener('hidden.bs.dropdown', function () {
                      // after dropdown is hidden, then find all submenus
                        this.querySelectorAll('.submenu').forEach(function(everysubmenu){
                            // hide every submenu as well
                            everysubmenu.style.display = 'none';
                        });
                  })
              });
  
              document.querySelectorAll('.dropdown-menu a').forEach(function(element){
                  element.addEventListener('click', function (e) {
  
                        let nextEl = this.nextElementSibling;
                        if(nextEl && nextEl.classList.contains('submenu')) {
                            // prevent opening link if link needs to open dropdown
                            e.preventDefault();
                            console.log(nextEl);
                            if(nextEl.style.display == 'block'){
                                nextEl.style.display = 'none';
                            } else {
                                nextEl.style.display = 'block';
                            }
  
                        }
                  });
              })
          }
          // end if innerWidth
  
      });
      // DOMContentLoaded  end
  
    function showWinner(title, winner, cityname) {
        content = '<figure class="text-center"> \
  <blockquote class="blockquote"> \
    <p>' + winner + '<br/><br/></p> \
  </blockquote> \
  <figcaption class="blockquote-footer"> \
    Times Food & Nightlife 2023 Winner in <cite title="' + cityname + '">' + cityname + '</cite> \
  </figcaption> \
  </figure>';
      var winnerModal = new jBox('Modal', {
        title: title,
        content: content,
        closeButton: 'true',
        animation: 'slide'
        });
        winnerModal.open();
    }
</script>
