<section class="page-section" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center ">
        <h2 class="mt-0 py-3">Let's Get In Touch!</h2>
        <hr class="divider" />
        <p class="text-muted mb-5">Send us a messages and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      <div class="col-lg-6">
        <form id="contactForm" name="contactForm" action="/" method="post">
          <!-- Name input-->
          <div class="form-floating mb-3">
            <input class="form-control" name="name" minlength="2" type="text" placeholder="Enter your name..." required  data-msg="Name is required"/>
            <label for="name">Full name</label>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" name="email" type="email" placeholder="name@example.com" required/>
            <label for="email">Email address</label>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3">
            <input class="form-control" name="address" type="text" placeholder="Gurugrum, Haryana" required />
            <label for="email">City / State</label>
          </div>
          <!-- Phone number input-->
          <div class="form-floating mb-3">
            <input class="form-control" name="phone" type="number" minlength=10 maxlength="10" requied placeholder="9814567890" />
            <label for="phone">Phone number</label>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
            <textarea class="form-control" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" requied></textarea>
            <label for="message">Message</label>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- Submit Button-->
          <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Send Message</button></div>
        </form>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-4 text-center mb-5 mb-lg-0">
        <i class="bi-envelope fs-2 mb-3 text-muted"></i>
        <div><a href='mailto:tfna@timesfoodawards.com'>tfna@timesfoodawards.com</a></div>
      </div>
    </div>
  </div>
</section>
