<section class="bg-light px-0">
  <!-- Footer-->
  <footer class="footer py-4 px-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 text-lg-start">Copyright &copy; Times Food & Nighlife Awards 2023. ver 0.5</div>
        <div class="col-lg-6 my-3 my-lg-0 text-lg-end">
          <a class="btn btn-primary btn-social mx-2" href="#!" aria-label="Twitter"><i class="bi bi-instagram"></i></a>
          <a class="btn btn-primary btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="bi bi-facebook"></i></a>
          <a class="btn btn-primary btn-social mx-2" href="#!" aria-label="Facebook"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
</section>
