      <!-- Services-->
<section id="model">
  <div class="container px-4 px-lg-5">
    <section class="py-3 bg-primary">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Awards Model</h2>
            <hr class="divider divider-light" />
            <p class="text-white-75 mb-2">The only food awards in the country that combines critical opinion and public voting!</p>
          </div>
        </div>
      </div>
    </section>
