    <nav class="navbar navbar-expand-lg navbar-light ms-auto fixed-top py-3"  id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/#page-top">Times Food & Nightlife Awards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav my-6 my-lg-2">
        <li class="nav-item"><a class="nav-link" href="/#About"> About </a></li>
        <li class="nav-item"><a class="nav-link" href="/#timeline">Timeline</a></li>
        <li class="nav-item"><a class="nav-link" href="/#portfolio">Panel</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Awards  </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/#model"> Awards Model </a></li>
            <li><a class="dropdown-item" href="#"> Awards 2023 &raquo; </a>
              <ul class="submenu dropdown-menu">
                <% @cities.each do |city| %>
                  <%= "<li><a class='dropdown-item' href=\"/times_food_nightlife_awards/2023/#{city}_winners.html\">#{city}</a></li>" %>
                <% end %>
              </ul>
            </ul>
          </li>
        </li>
      </ul>
    </div>
    <!-- navbar-collapse.// -->
  </div>
</div>
<!-- container-fluid.// -->
</nav>
