<div id="panel">
  <div class="container-fluid p-0">
    <section class="py-3 bg-primary">
      <h3 class="h4 pt-5 px-5 bg-primary text-white text-center">Our Panel of Food and Nightlife Critics ll</h3>
      <hr class="divider divider-light" />
      <p class="text-white-75 text-center">More than 150 years of combined experience!</p>
    </section>
    <div class="row g-0">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/puneetinder.jpg" title="Puneetinder Kaur ">
          <img  src="assets/img/portfolio/thumbnails/puneetinder.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Puneetinder Kaur</div>
            <div class="project-name">Chandigarh</div>
          </div>
        </a>
        <div class="text-center">Punnetinder Kaur</div>
        <div class="small text-center text-muted">Chandigarh</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/marryam.jpg" title="Marryam Reshii">
          <img  src="assets/img/portfolio/thumbnails/marryam.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Marryam Reshii</div>
            <div class="project-name">Delhi Food</div>
          </div>
        </a>
        <div class="text-center">Marryam Rishi</div>
        <div class="small text-center text-muted">Delhi Food</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/kasturi.jpg" title="Kasturi Gadge">
          <img  src="assets/img/portfolio/thumbnails/kasturi.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Kasturi Gadge</div>
            <div class="project-name">Mumbai Nightlife</div>
          </div>
        </a>
        <div class="text-center">Kasturi Gadge</div>
        <div class="small text-center text-muted">Mumbai Nightlife</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/odette.jpg" title="Odette Mascarenhas">
          <img  src="assets/img/portfolio/thumbnails/odette.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Odette Mascarenhas</div>
            <div class="project-name">Goa</div>
          </div>
        </a>
        <div class="text-center">Odette Mascarenhas</div>
        <div class="small text-center text-muted">Goa</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/jayesh.jpg" title="Jayesh Paranjpae">
          <img  src="assets/img/portfolio/thumbnails/jayesh.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Jayesh Paranjpae</div>
            <div class="project-name">Pune</div>
          </div>
        </a>
        <div class="text-center">Jayesh Paranjpae</div>
        <div class="small text-center text-muted">Pune</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/sankalp.jpg" title="Sankalp Vishnu">
          <img  src="assets/img/portfolio/thumbnails/sankalp.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Sankalp Vishnu</div>
            <div class="project-name">Hyderabad</div>
          </div>
        </a>
        <div class="text-center">Sankalp Vishnu</div>
        <div class="small text-center text-muted">Hyderabad</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/priya.jpg" title="Priya Bala">
          <img  src="assets/img/portfolio/thumbnails/priya.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Priya Bala</div>
            <div class="project-name">Bangalore</div>
          </div>
        </a>
        <div class="text-center">Priya Bala</div>
        <div class="small text-center text-muted">Bangalore</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/dharmendra.jpg" title="Dharmendar Kanwar">
          <img  src="assets/img/portfolio/thumbnails/dharmendra.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Dharmendar Kanwar</div>
            <div class="project-name">Jaipur</div>
          </div>
        </a>
        <div class="text-center">Dharmendar Kanwar</div>
        <div class="small text-center text-muted">Jaipur</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/amin.jpg" title="Amin Ali">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/amin.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Amin Ali</div>
            <div class="project-name">Delhi Nightlife</div>
          </div>
        </a>
        <div class="text-center">Amin Ali</div>
        <div class="small text-center text-muted">Delhi Nightlife</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/rashmi.jpg" title="Rashmi Uday Singh">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/rashmi.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Rashmi Uday Singh</div>
            <div class="project-name">Mumbai Food</div>
          </div>
        </a>
        <div class="text-center">Rashmi Uday Singh</div>
        <div class="small text-center text-muted">Mumbai Food</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/salmoli.jpg" title="Salmoli Mukherji">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/salmoli.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Salmoli Mukherji</div>
            <div class="project-name">Kolkata</div>
          </div>
        </a>
        <div class="text-center">Salmoli Mukherji</div>
        <div class="small text-center text-muted">Kolkata</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/ameeta.jpg" title="Ameeta Agnihotri">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/ameeta.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Ameeta Agnihotri</div>
            <div class="project-name">Chennai</div>
          </div>
        </a>
        <div class="text-center">Ameeta Agnihotri</div>
        <div class="small text-center text-muted">Chennai</div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/portfolio/fullsize/anil.jpg" title="Anil Mulchandani">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/anil.jpg" alt="..." />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Anil Mulchandani</div>
            <div class="project-name">Ahmedabad</div>
          </div>
        </a>
        <div class="text-center">Anil Mulchandani</div>
        <div class="small text-center text-muted">Ahmedabad</div>
      </div>
    </div>
  </div>
</div>
