<!-- Timeline -->
<section style="background-color: #F0F2F5;">
  <div class="container py-5">
    <div class="main-timeline-2">
      <div class="timeline-2 left-2">
        <div class="card">
          <img src="assets/img/timeline/1.jpg" class="card-img-top"
                    alt="The first year">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-4 text-muted"><i class="bi bi-clock" aria-hidden="true"></i> 2003</h2>
            <h4 class="mb-4 text-muted">The first year</h4>
            <p class="mb-0">Delhi witnesses the launch of the first edition of the Times Food Awards</p>
          </div>
        </div>
      </div>
      <div class="timeline-2 right-2">
        <div class="card">
          <img src="assets/img/timeline/2.jpg" class="card-img-top"
                    alt="The first year">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-4 text-muted"><i class="bi bi-clock" aria-hidden="true"></i> 2006</h2>
            <h4 class="mb-4 text-muted">More cities</h4>
            <p class="mb-0">The property expands to Mumbai and Bangalore with the addition of Times Leisure Awards</p>
          </div>
        </div>
      </div>
      <div class="timeline-2 left-2">
        <div class="card">
          <img src="assets/img/timeline/3.jpg" class="card-img-top"
                    alt="The first year">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-4 text-muted"><i class="bi bi-clock" aria-hidden="true"></i> 2011</h2>
            <h4 class="mb-4 text-muted">Pan India</h4>
            <p class="mb-0">Pune, Hyderabad, Kolkata, Chandigarh, Ahmedabad, Jaipur, Chennai and Goa join the existing 3 metros to make the awards truly pan India</p>
          </div>
        </div>
      </div>
      <div class="timeline-2 right-2">
        <div class="card">
          <img src="assets/img/timeline/4.jpg" class="card-img-top"
                    alt="The first year">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-4 text-muted"><i class="bi bi-clock" aria-hidden="true"></i> 2014</h2>
            <h4 class="mb-4 text-muted">Awards Goes Digital</h4>
            <p class="mb-0">The awards go digital with online and telephonic voting</p>
          </div>
        </div>
      </div>
      <div class="timeline-2 left-2">
        <div class="card">
          <img src="assets/img/timeline/5.jpg" class="card-img-top"
                    alt="The first year">
          <div class="card-body p-4">
            <h2 class="fw-bold mb-4 text-muted"><i class="bi bi-clock" aria-hidden="true"></i> 2020</h2>
            <h4 class="mb-4 text-muted">V 2.0</h4>
            <p class="mb-0">The awards and the accompanying food guide undergo a major re-haul with focus on making the awards coveted and adapt to the changing times</p>
          </div>
        </div>
      </div>
    </div>
  </section>
